In [33]:
# Import Data Manipulation Libraries
import numpy as np
import pandas as pd

# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Filter Warnings Libraries
import warnings
warnings.filterwarnings('ignore')

# Import Logging Files
import logging
logging.basicConfig(level= logging.INFO,
                    filemode= 'w',
                    filename= 'model.log',
                    format= '%(asctime)s %(levelname)s %(message)s',force=True
                    )

In [34]:
# Data Import Using Pandas Function

url = 'https://raw.githubusercontent.com/mukeshmagar543/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df = pd.read_csv(url,sep = ';')

df.sample(frac= 1) # Shuffle Dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
5151,33,admin.,married,secondary,no,1499,yes,no,unknown,21,may,144,2,-1,0,unknown,no
41642,29,admin.,single,tertiary,no,14,no,no,cellular,29,sep,87,1,120,1,failure,no
27235,34,technician,married,secondary,no,5553,yes,no,cellular,21,nov,798,2,182,5,failure,no
38212,32,management,single,tertiary,no,336,no,no,cellular,15,may,64,4,-1,0,unknown,no
10040,59,admin.,married,unknown,no,0,no,no,unknown,11,jun,242,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30994,32,management,single,tertiary,no,261,no,no,cellular,9,feb,13,5,-1,0,unknown,no
13646,26,blue-collar,married,secondary,no,818,no,no,cellular,9,jul,226,2,-1,0,unknown,no
2404,34,blue-collar,divorced,secondary,no,383,yes,no,unknown,13,may,2231,1,-1,0,unknown,yes
4874,37,unemployed,married,primary,no,7005,yes,no,unknown,21,may,217,1,-1,0,unknown,no
22115,50,management,divorced,tertiary,no,83,yes,no,cellular,21,aug,40,2,-1,0,unknown,no

In [35]:
# Checking Data Shape and Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [36]:
logging.info('Dataset Uploaded Successfully')